<div class="relative bg-gray-50 dark:bg-gray-800 pt-16 overflow-hidden sm:pt-24 lg:pt-32">
  <div class="mx-auto max-w-md px-4 text-center sm:px-6 sm:max-w-3xl lg:px-8 lg:max-w-7xl">
    <div>
      <h2 class="text-base font-semibold tracking-wider text-indigo-600 dark:text-indigo-200 uppercase">Easy installation</h2>
      <p class="mt-2 text-3xl font-extrabold text-gray-900 dark:text-gray-50 tracking-tight sm:text-4xl">
        Set it up in minutes, not hours
      </p>
      <p class="mt-5 max-w-prose mx-auto text-xl text-gray-500 dark:text-gray-400">
        Click some buttons and you're done. We'll make a pull request that has everything you need.
      </p>
    </div>
    <div class="mt-12">
      <a class="inline-block" href="https://youtu.be/AIG7LTOrd1Q" target="_blank" rel="nofollow">
        <img class="mx-auto rounded-lg shadow-xl ring-1 ring-black ring-opacity-5" src="{{ "img/easy-setup.jpg" | relative_url }}" />
      </a>
    </div>
  </div>
</div>
