<html class="text-gray-900 antialiased leading-tight">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="icon" type="/image/svg+xml" href="/img/favicon.svg">
    <script async defer data-domain="welcomments.io" src="https://plausible.io/js/plausible.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    {% seo %}
</head>
<body>
<section>
    {{ content }}
</section>
<script type="text/javascript">
    (function () {
        window.addEventListener('DOMContentLoaded', function () {
            var links = document.getElementsByClassName('plausible-link');
            for (var i = 0; i < links.length; i++) {
                (function (link) {
                    link.addEventListener('click', function (e) {
                        e.preventDefault();
                        plausible(link.getAttribute('data-plausible-event-name'), {
                            callback: function () {
                                window.location.href = link.href;
                            }
                        });
                    });
                })(links[i]);
            }
        })
    })();
</script>
</body>
</html>

