<html class="text-gray-900 antialiased leading-tight">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="icon" type="/image/svg+xml" href="/img/favicon.svg">
    <script defer data-domain="welcomments.io" src="https://a.krankka.com/js/script.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    {% seo %}
</head>
<body class="dark:bg-gray-800">
<section>
    {{ content }}
</section>
<script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw" data-instant-intensity="25"></script>
</body>
</html>

